<html>
    <head> 
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
        	<div class="container">
        		{% if name %}
					<h1>Welcome back {{ name }}!</h1>
				{% else %}
					<h1>Hello! What's your name?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="name" placeholder="Enter your name here" class="form-control">
						</div>
						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
				{% endif %}
        		<a href="{{ url_for('about') }}">About this project</a>
        	</div>
        </div>
        <div class="container">
	        <div class="row">
	        	<div class="col-md-6">
	        		<h2>Weather Forecast</h2>
	        		<p>
	        			Type your location to get realtime weather forecast provided by Dark Sky
	        		</p>
	        		<p>
	        			<form action="/" class="form-inline">
							<div class="form-group">
								<input type="text" name="address" placeholder="i.e. New York, NY" class="form-control">
							</div>
							<input type="submit" value="Submit" class="btn btn-primary">
						</form>
					</p>
				</div>
				<div class="col-md-6">
	        		<h2>Results </h2>
					<p>{{ forecast }} </p>
				</div>
			</div>
		</div>
    </body>
</html>